!!! 5
%html
  %head
    %title= title
    %link{rel:'stylesheet', href:'/css/style.css'}
    %script{type:'text/javascript', src:'/js/lib/jquery.min.js'}
    %script{type:'text/javascript', src:'/js/lib/jquery-ui.min.js'}
    %script{type:'text/javascript', src:'/js/lib/jquery.hotkeys.min.js'}
    %script{type:'text/javascript', src:'/js/vectors.js'}
    :each jsfile in jsfiles
      %script{type:'text/javascript', src:'/js/'+jsfile+'.js'}
  %body= body