
body {
    background-color:white;
    margin:0px;
    padding:0px;
    font-size:0.7em;
    color:#444;
    padding:20px;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

#start {
    font-size:1.3em;
    display:inline;
}